table {
    margin-left: auto;
    margin-right: auto;
}

tr {
    list-style: none;
    margin: 10px 0px 0px 0px;
    padding: 0;
}
td {
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    border: lightgray 5px solid;
    color: white;
    text-align: center;
}
