.buttonBox {
    border: 7px solid;
    display: inline-block;

    position:relative;
}

.red {
    background-color: #991919;
    border-color: #732626;
}

.green {
    background-color: #22933b;
    border-color: #266e37;
}

.text {
    text-align: center;
    color: white;
    margin: 3px 5px 3px 5px;
    font-size: 20px;

    user-select: none;
}