.conveyor-display {
    z-index: 0;
    background-image: url('src/images/conveyor.png');
    background-size: 100% 100%;

    position: absolute;

    width: 798.5px;
    height: 798.5px;
    /*display: block;*/
}

.size-container {
    width: 798.5px;
    height: 798.5px;
    margin: 0 auto;
    display: flex;
}

.display-elements {
    z-index: 2;
}

